<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../index.js"></script>
    <title>Verifique Mutante</title>
</head>
<body>
    <h1>Verificar Si es Mutante o No</h1>

    <ul>
        <li>{{cargoString}}</li>
    </ul>
    
</body>
</html>